.container {
  display: flex;
  height: 48px;
}
.leftSide,
.rightSie {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftSide a,
.rightSie a {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.buttonTransparente {
  background-color: rgb(0, 0, 0, 0.1);
}
.centertSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-weight: 600;
  font-size: 24px;
  color: #1b1b1b;
}
.subtitle {
  font-weight: 400;
  font-size: 13px;
  color: #6a7d8b;
}
