.container {
  background-color: #fff;
  padding: 50px 24px;
}
.header {
  font-weight: bold;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.img {
  text-align: center;
}
.subtitulo {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgb(27, 27, 27, 0.8);
  text-align: center;
  margin: auto;
  width: 223px;
  padding-bottom: 40px;
  position: relative;
}
