* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  background-color: #fff;
  /* background-color: rgb(46, 29, 126); */
}

@media (max-width: 500px) {
  body {
    /* background-color: red; */
  }
}

@media (min-width: 600px) {
  body {
    max-width: 900px;
    margin: auto;
    background-color: #ccc;
  }
}
