.container {
  padding: 0;
  background-color: #fff;
  /* background-color: rgb(46, 29, 126); */
  margin: 0;
}

.conteudo {
  text-align: center;
}

.titulo {
  /* background-color: rgb(46, 29, 126); */
  background-color: #004aad;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 700;
}

@media (max-width: 410px) {
  .container {
    /* background-color: red; */
  }
  .titulo {
    background-color: #004aad;
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  .container {
    margin: 0;
    max-width: 900px;
    margin: auto;
    background-color: #ccc;
  }
}
